@model ModelDB.Form
@using ModelDB

@{
    string path = "...";
    Image image;

    if (Model.Images.Count > 0)
    {
        image = Model.Images.FirstOrDefault();
        path = image.Path;
    }
}

<a href="@Url.Action("Index", "Form", new { id = Model.FormID})"><img src="@path" /></a>
<div class="caption">
    <h5>@Model.FormName</h5>
    <p>@Model.Species.SpecieName</p>
</div>