@model ModelDB.Form
@using ModelDB

@*@{
    string path = "...";
    Image image;

    if (Model.Images.FirstOrDefault() != null)
    {
        image = Model.Images.FirstOrDefault();
        path = image.Path;
    }
}*@

@*<img src="" />*@
<div class="caption">
    <h5>@Model.FormName</h5>
    <p>@Model.Species.SpecieName</p>
    <p>@Model.Category.CategoryName</p>
    @Html.ActionLink("Просмотреть", "Index", "Form", new { id = Model.FormID}, new { @class = "btn btn-primary" })
</div>