body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.filter-div {
    border-bottom: 1px solid;
    border-right: 1px solid;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.anketa-image-content img {
    width: 100%;
    margin-bottom: 10px;
}

.filters-button {
    margin-top: 5px;
    margin-bottom: 5px;
}

.filter {
    margin-top: 5px;
    margin-left: 15px;
}

.header {
    margin-bottom: 10px;
}

.sort {
    padding-left: 0;
}